.sign-up-first-name {

  background: #4ECDC4; /* fallback for old browsers */
  background: linear-gradient(to top, #558C89, #74AFAD);
  .log-in-txt {
    width: 100%;
    text-align: right;
    color: white;
  }

}
