<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="close()">
        Close
      </button>
    </ion-buttons>
    <ion-title>Log</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="eventLevel" color="secondary">
      <ion-segment-button *ngFor="let level of levels" value="{{level}}" (click)="changeLevel()">
        {{level}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item no-padding text-wrap [color]="event.style" *ngFor="let event of events">
      <div padding-left>{{event.text}}</div>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
